<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bowoon.android.alog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:name=".crashlogger.CreateAcra">

    </application>

</manifest>
